<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script>
        var api_host = 'http://comment-anything.herokuapp.com/';
        var site_id = 'transient';
    </script>
    <script src="/js/index.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600|Audiowide' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="gray-bg page-border-top light-gray-text open-sans">
    <div class="container">
        <div class="spacer-m"></div>
        
        <div class="row">
            <div class="col-xs-12">
                <h1>
                    <a class="no-link" href="/"><span class="scifi-text">Transient Team</span></a>
                    <span class="inline-h">&lt;games with a lot of weird and a little think&gt;</span>
                </h1>
            </div>
        </div>
        
        <div class="row">
            <ul class="nav nav-tabs">
                <li><a href="/">Home</a></li>
                <li><a href="/news/">News</a></li>
                <li><a href="/games/">Games</a></li>
            </ul>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="well">
                    {{ content }}
                </div>
            </div>
        </div>

        <div class="spacer-m"></div>

        <div class="row">
            <div class="col-sm-4">
                <div class="aqua-border-top">
                    <h3>Contact</h3>
                    <p><a href="mailto:transient@kiberion.net">transient@kiberion.net</a></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
